In [4]:
car_data <- read.csv("data/car_price.csv")
head(car_data)


#Hellow

  Car.ID Brand Year Engine.Size Fuel.Type Transmission Mileage Condition
1 1      Tesla 2016 2.3         Petrol    Manual       114832  New
2 2      BMW   2018 4.4         Electric  Manual       143190  Used
3 3      Audi  2013 4.5         Electric  Manual       181601  New
4 4      Tesla 2011 4.1         Diesel    Automatic     68682  New
5 5      Ford  2009 2.6         Diesel    Manual       223009  Like New
6 6      Audi  2019 2.4         Diesel    Automatic    246553  Like New
  Price    Model
1 26613.92 Model X
2 14679.61 5 Series
3 44402.61 A4
4 86374.33 Model Y
5 73577.10 Mustang
6 88969.76 Q7